<%- include("./../../includes/authMessage.ejs")  %> 


<div
class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom"
>
<h2>ایجاد شهر</h2>
</div>
<form class="form-horizontal" action="/admin/cities/create"  method="post">


<div class="form-group row">
  <div class="col">
    <label for="name" class="control-label font-weight-bold"> نام شهر </label>
    
    <input type="text" class="form-control" name="name" id="name"
    placeholder="نام شهر را وارد کنید" value="<%=typeof
    oldValue!='undefined'?oldValue.name:"" %>">
  </div>
</div>

<div class="form-group row">
  <div class="col">
    <label for="slug" class="control-label font-weight-bold">اسلاگ شهر</label>
  
    <input type="text" class="form-control" name="slug" id="slug"
    placeholder="اسلاگ شهر را وارد کنید" value="<%=typeof
    oldValue!='undefined'?oldValue.slug:"" %>">
  </div>
</div>


<div class="form-group row">
  <div class="col">
    <label for="province" class="control-label font-weight-bold font-weight-bold"
      > استان مربوطه</label
    >
    
    <select name="province" id="province" class="form-control">
    
      <%provinces.forEach(province=>{%>
      <option   value="<%= province._id  %>" <%=typeof oldValue!='undefined'&& oldValue.province==province._id?'selected':'' %>  ><%= province.name  %> </option>

     <% }) %> 

     
    </select>
</div>
</div>
  

<div class="form-group row">
  <div class="col">
    <button type="submit" class="btn btn-success">ارسال</button>
    <a href="<%=domain  %>/admin/cities" class="btn btn-danger">انصراف</a>

  </div>
</div>
</form>

