<%- include("./../../includes/authMessage.ejs")  %> 


<div
class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom"
>
<h2>ایجاد دسته بندی</h2>
</div>
<form class="form-horizontal" action="/admin/categories/create"  method="post">


<div class="form-group row">
  <div class="col">
    <label for="title" class="control-label font-weight-bold">عنوان دسته بندی</label>
    
    <input type="text" class="form-control" name="title" id="title"
    placeholder="عنوان دسته بندی را وارد کنید" value="<%=typeof
    oldValue!='undefined'?oldValue.title:"" %>">
  </div>
</div>

<div class="form-group row">
  <div class="col">
    <label for="slug" class="control-label font-weight-bold">اسلاگ دسته بندی</label>
  
    <input type="text" class="form-control" name="slug" id="slug"
    placeholder="اسلاگ دسته بندی را وارد کنید" value="<%=typeof
    oldValue!='undefined'?oldValue.slug:"" %>">
  </div>
</div>


<div class="form-group row">
  <div class="col">
    <label for="parent" class="control-label font-weight-bold font-weight-bold"
      >دسته بندی مربوطه</label
    >
    
    <select name="parent" id="parent" class="form-control">
      <option  value="none">دسته اصلی</option>
      <%categories.forEach(category=>{%>
      <option   value="<%= category._id  %>" <%=typeof oldValue!='undefined'&& oldValue.parent==category._id?'selected':'' %>  ><%= category.title  %> </option>

     <% }) %> 

     
    </select>
</div>
</div>
  

<div class="form-group row">
  <div class="col">
    <button type="submit" class="btn btn-success">ارسال</button>
    <a href="http://localhost:4000/admin/categories" class="btn btn-danger">انصراف</a>

  </div>
</div>
</form>

