<%- include("./../../includes/authMessage.ejs") %>

<div
  class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom"
></div>

<div
  class="d-flex justify-content-between align-items-center mb-3 border-bottom-1"
>
  <h2>استان ها</h2>
  <div class="btn-group">
    <a href="/admin/provinces/create" class="btn btn-sm btn-primary"
      >افزودن استان جدید</a
    >
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <% let i = 1+((provinces.page-1)*provinces.limit) %> 
      <tr>
        <th>ردیف</th>
        <th>نام استان</th>
        <th>تنظیمات</th>
      </tr>
    </thead>
    <tbody>
      <% provinces.docs.forEach(provin => {%>
      <tr>
        <td><%=i%> </td>
        <% i++ %> 
        <td><a href="/provinces/آپدیت-جدید-راکت"><%=provin.name %> </a></td>
        <td>
          <form
            action="<%=domain%>/admin/provinces/delete/<%=provin._id  %>?_method=DELETE"
            method="post"
          >
            <div class="btn-group btn-group-sm">
              <a
                href="<%=domain%>/admin/provinces/edit/<%=provin._id%>"
                class="btn btn-primary"
                >ویرایش</a
              >
              <button type="submit" class="btn btn-danger">حذف</button>
            </div>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<%- include("./../../includes/pagination.ejs",{pagination:provinces})  %> 
